<div class="spell-filters" role="search" aria-label="{{localize 'SPELLBOOK.UI.SpellFilters'}}">
     {{#each filters as |filter|}}
          <div class="filter-item filter-{{filter.type}}" data-filter-id="{{filter.id}}">
               {{#if (ne filter.type "checkbox")}}
                    <label for="{{filter.id}}">{{filter.label}}</label>
               {{/if}}

               {{{filter.elementHtml}}}
          </div>
     {{/each}}
</div>
