<div class="spells-container">
	{{#if isLoading}}
		{{> "modules/spell-book/templates/components/loading-spinner.hbs" size=3 message=(localize 'SPELLBOOK.Application.Loading')}}
	{{else if hasError}}
		{{> "modules/spell-book/templates/components/error-message.hbs" message=errorMessage}}
	{{else}}
		{{#if spellLevels.length}}
			{{#each spellLevels as |levelData|}}
				{{#> "modules/spell-book/templates/components/spell-level.hbs" level=levelData.level levelName=levelData.levelName spells=levelData.spells}}
					<li
						class="spell-item{{#if preparation.isOwned}} owned-spell{{/if}}{{#if preparation.prepared}} prepared-spell{{/if}}"
						data-spell-uuid="{{compendiumUuid}}" data-spell-level="{{../level}}" data-spell-school="{{system.school}}"
						data-casting-time-type="{{filterData.castingTime.type}}"
						data-casting-time-value="{{filterData.castingTime.value}}" data-range-units="{{filterData.range.units}}"
						data-range-value="{{system.range.value}}" data-damage-types="{{filterData.damageTypes}}"
						data-ritual="{{filterData.isRitual}}" data-concentration="{{filterData.concentration}}"
						data-requires-save="{{filterData.requiresSave}}" data-conditions="{{filterData.conditions}}"
						role="listitem">
						<div class="spell-name">
							{{{enrichedIcon}}}
							<div class="name-stacked">
								<span class="title">{{name}}
									{{#if preparation.isGranted}}
										<span class="granted-spell-tag"
											data-tooltip="{{#if preparation.sourceItem.name}}{{preparation.sourceItem.name}}{{/if}}">
											{{localize 'SPELLBOOK.SpellSource.Granted'}}
										</span>
									{{else if preparation.alwaysPrepared}}
										<span class="always-prepared-tag"
											data-tooltip="{{#if preparation.sourceItem.name}}{{preparation.sourceItem.name}}{{else}}{{localize 'SPELLBOOK.Preparation.AlwaysTooltip'}}{{/if}}">
											{{localize 'SPELLBOOK.Preparation.Always'}}
										</span>
									{{else if system.preparation.prepared}}
										<span class="preparation-mode-tag"
											data-tooltip="{{#if preparation.sourceItem.name}}{{preparation.sourceItem.name}}{{/if}}">
											{{preparation.localizedPreparationMode}}
										</span>
									{{/if}}
								</span>
								<span class="subtitle">{{{formattedDetails}}}</span>
							</div>
						</div>

						<div class="spell-preparation">
							<input type="checkbox" name="spellPreparation.{{compendiumUuid}}" id="prep-{{compendiumUuid}}" value="1"
								data-uuid="{{compendiumUuid}}" data-name="{{name}}" data-ritual="{{filterData.isRitual}}"
								data-was-prepared="{{preparation.prepared}}" {{checked preparation.prepared}}
								{{disabled preparation.disabled}}
								aria-label="{{#if preparation.prepared}}{{localize 'SPELLBOOK.Preparation.Unprepare' name=name}}{{else}}{{localize 'SPELLBOOK.Preparation.Prepare' name=name}}{{/if}}" />
						</div>
					</li>
					{{/modules/spell-book/templates/components/spell-level.hbs}}
			{{/each}}
		{{else}}
			{{> "modules/spell-book/templates/components/empty-state.hbs" message=(localize 'SPELLBOOK.Errors.NoSpellsFound' actor=actor.name)}}
		{{/if}}
	{{/if}}

	<!-- No results message (initially hidden) -->
	<div class="no-filter-results" style="display: none;" role="status">
		{{localize 'SPELLBOOK.Filters.NoResults'}}
	</div>
</div>
