<div class="spellstab {{tab.id}} tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="spellbook-tabs"
  data-class-identifier="{{classIdentifier}}">
  <div class="spells-container">
    {{#if hasError}}
      {{> "modules/spell-book/templates/components/error-message.hbs" message=errorMessage}}
    {{else}}
      <div class="class-header">
        <h2>{{localize 'SPELLBOOK.Classes.Tab.Header' class=className}}</h2>
      </div>
    {{/if}}
    <div class="no-filter-results" style="display: none;" role="status">
      {{localize 'SPELLBOOK.Filters.NoResults'}}
    </div>
  </div>
</div>
