<div class="wizardbook tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="{{tab.group}}"
	data-class-identifier="{{classIdentifier}}">
	<div class="spells-container">
		{{#if hasError}}
			{{> "modules/spell-book/templates/components/error-message.hbs" message=errorMessage}}
		{{else}}
			{{#if (or isWizard isForceWizard)}}
				<div class="spellbook-rules">
					<h3>{{localize 'SPELLBOOK.Wizard.NewSpellsTitle'}}</h3>
					<p>{{localize 'SPELLBOOK.Wizard.NewSpellsInfo1'}}</p>
					<p>{{localize 'SPELLBOOK.Wizard.NewSpellsInfo2'}}</p>
				</div>
				{{!-- Spells will be populated via lazy loading --}}
			{{else}}
				<div class="wizard-unavailable">
					<p>{{localize 'SPELLBOOK.Wizard.Unavailable'}}</p>
				</div>
			{{/if}}
		{{/if}}
		<div class="no-filter-results" style="display: none;" role="status">
			{{localize 'SPELLBOOK.Filters.NoResults'}}
		</div>
	</div>
</div>
