<nav class="tabs tabs-right" data-group="spellbook-tabs">
	{{#if hasMultipleTabs}}
		{{#each tabs as |tab|}}
			<a class="item {{tab.cssClass}}" data-action="tab" data-tab="{{tab.id}}" data-group="{{tab.group}}"
				data-tooltip="{{tab.label}}">
				{{#if tab.icon}}<i class="{{tab.icon}}"></i>{{/if}}
			</a>
		{{/each}}
	{{/if}}
</nav>
