<div class="spellstab {{tab.id}} tab {{tab.cssClass}}" data-tab="{{tab.id}}" data-group="spellbook-tabs"
  data-class-identifier="{{classIdentifier}}">
  <div class="spells-container">
    {{#if isLoading}}
      {{> "modules/spell-book/templates/components/loading-spinner.hbs" size=3 message=(localize 'SPELLBOOK.Application.Loading')}}
    {{else if hasError}}
      {{> "modules/spell-book/templates/components/error-message.hbs" message=errorMessage}}
    {{else}}
      <div class="class-header">
        <h2>{{localize 'SPELLBOOK.Classes.Tab.Header' class=className}}</h2>
      </div>
      {{#if spellLevels.length}}
        {{#each spellLevels as |levelData|}}
          {{#> "modules/spell-book/templates/components/spell-level.hbs" level=levelData.level levelName=levelData.levelName spells=levelData.spells}}
            <li class="{{cssClasses}}" {{{dataAttributes}}} role="listitem">
              <div class="spell-name">
                {{{enrichedIcon}}}
                <div class="name-stacked">
                  <span class="title">{{name}}
                    {{#if tag}}
                      <span class="tag {{tag.cssClass}}" {{#if tag.tooltip}}data-tooltip="{{tag.tooltip}}" {{/if}}>
                        {{tag.text}}
                      </span>
                    {{/if}}
                  </span>
                  <span class="subtitle">{{{formattedDetails}}}</span>
                </div>
              </div>
              <div class="spell-preparation dnd5e2">
                {{{preparationCheckboxHtml}}}
              </div>
            </li>
            {{/modules/spell-book/templates/components/spell-level.hbs}}
        {{/each}}
      {{else}}
        {{> "modules/spell-book/templates/components/empty-state.hbs" message=(localize 'SPELLBOOK.Errors.NoSpellsFound' actor=actor.name)}}
      {{/if}}
    {{/if}}
    <div class="no-filter-results" style="display: none;" role="status">
      {{localize 'SPELLBOOK.Filters.NoResults'}}
    </div>
  </div>
</div>
