<div class="spell-card">
	<div class="spell-header">
		<img class="spell-img" src="{{img}}" alt="{{name}}">
		<div class="spell-name">{{name}}</div>
		<div class="spell-level">{{#if level}}Level {{level}}{{/if}}</div>
		<div class="spell-school">{{school}}</div>
		{{#if isPrepareMode}}
			<div class="spell-prepare-control {{#if prepared}}prepared{{/if}}" data-action="togglePreparation"
				data-uuid="{{uuid}}">
				<i class="fas {{#if prepared}}fa-check-circle{{else}}fa-circle{{/if}}"></i>
			</div>
		{{/if}}
	</div>
</div>
