<div class="import-summary">
  <p><strong>{{localize 'SPELLBOOK.Analytics.ImportSummaryExportDate'}}:</strong> {{exportDate}}</p>
  <p><strong>{{localize 'SPELLBOOK.Analytics.ImportSummaryExportedBy'}}:</strong> {{exportedBy}}</p>
  <p><strong>{{localize 'SPELLBOOK.Analytics.ImportSummaryUsers'}}:</strong> {{userCount}}</p>
  <p><strong>{{localize 'SPELLBOOK.Analytics.ImportSummaryNames'}}:</strong> {{userNames}}</p>
</div>
<p class="warning"><strong>{{localize 'SPELLBOOK.Analytics.ImportWarningTitle'}}:</strong>
  {{localize 'SPELLBOOK.Analytics.ImportWarningMessage'}}
</p>
