<div class="cantrip-settings-form">
  <p>{{localize 'SPELLBOOK.Cantrips.ConfigDescription' name=actor.name}}</p>

  <div class="cantrip-stats">
    <p>{{localize 'SPELLBOOK.Cantrips.ActorStats' name=actor.name count=stats.currentCount max=stats.maxCantrips}}</p>
  </div>

  <div class="form-group">
    <label>{{localize 'SPELLBOOK.Cantrips.RulesLabel'}}</label>
    <div class="form-fields">
      <select name="cantripRules">
        {{#each ruleOptions as |option|}}
          <option value="{{option.value}}" {{#if option.selected}}selected{{/if}}>{{option.label}}</option>
        {{/each}}
      </select>
    </div>
    <p class="hint">{{localize 'SPELLBOOK.Cantrips.RulesHint'}}</p>
  </div>

  <div class="form-group">
    <label>{{localize 'SPELLBOOK.Cantrips.BehaviorLabel'}}</label>
    <div class="form-fields">
      <select name="cantripBehavior">
        {{#each behaviorOptions as |option|}}
          <option value="{{option.value}}" {{#if option.selected}}selected{{/if}}>{{option.label}}</option>
        {{/each}}
      </select>
    </div>
    <p class="hint">{{localize 'SPELLBOOK.Cantrips.BehaviorHint'}}</p>
  </div>

  <div class="form-group">
    <button type="submit" name="submit" class="submit-button">
      <i class="fas fa-save"></i> {{localize 'SPELLBOOK.Cantrips.SaveButton'}}
    </button>
  </div>
</div>
