<form>
	<div class="form-group">
		<label for="list-name">{{localize "SPELLMANAGER.CreateList.ListNameLabel"}}</label>
		{{{formElements.nameInputHtml}}}
	</div>
	<div class="form-group">
		<label for="class-identifier">{{localize "SPELLMANAGER.CreateList.ClassLabel"}}</label>
		{{{formElements.classSelectHtml}}}
	</div>
	<div class="form-group custom-id-group" style="display:none;">
		<label for="custom-identifier">{{localize "SPELLMANAGER.CreateList.CustomIdentifierLabel"}}</label>
		{{{formElements.customInputHtml}}}
		<p class="notes">{{localize "SPELLMANAGER.CreateList.IdentifierNotes"}}</p>
		<p class="validation-error" style="color: red; display: none;">
			{{localize "SPELLMANAGER.CreateList.ValidationError"}}
		</p>
	</div>
</form>
