<div class="merge-spell-lists-form">
  <div class="form-group source-list">
    <label for="source-list">{{localize "SPELLMANAGER.MergeLists.SourceListLabel"}}</label>
    {{{formElements.sourceListSelectHtml}}}
  </div>
  <div class="form-group copy-from-list">
    <label for="copy-from-list">{{localize "SPELLMANAGER.MergeLists.CopyFromListLabel"}}</label>
    {{{formElements.copyFromListSelectHtml}}}
  </div>
  <div class="form-group merged-list-name">
    <label for="merged-list-name">{{localize "SPELLMANAGER.MergeLists.MergedListNameLabel"}}</label>
    {{{formElements.mergedListNameInputHtml}}}
    <p class="hint">{{localize "SPELLMANAGER.MergeLists.MergedListNameNotes"}}</p>
  </div>
  <div class="form-group hide-source-lists">
    <label for="hide-source-lists" class="checkbox-label">
      {{{formElements.hideSourceListsCheckboxHtml}}}
      <span>{{localize "SPELLMANAGER.MergeLists.HideSourceListsLabel"}}</span>
    </label>
    <p class="hint">{{localize "SPELLMANAGER.MergeLists.HideSourceListsHint"}}</p>
  </div>
  <p class="validation-error" style="color: red; display: none;">{{localize "SPELLMANAGER.MergeLists.SameListError"}}
  </p>
</div>
