<div class="spellbook-settings-form">
  {{!-- Notice Area --}}
  {{#if hasNotices}}
    <div class="settings-notices">
      {{#each spellcastingClasses as |classData|}}
        {{#if classData.rules._noScaleValue}}
          <div class="notice warning">
            <i class="fas fa-exclamation-triangle"></i>
            <strong>{{classData.name}}:</strong> {{localize 'SPELLBOOK.Settings.NoScaleValueNotice'}}
          </div>
        {{/if}}
        {{#if classData.hasCustomSpellList}}
          <div class="notice info">
            <i class="fas fa-info-circle"></i>
            <strong>{{classData.name}}:</strong>
            {{localize 'SPELLBOOK.Settings.UsingCustomSpellList' list=classData.customSpellListName}}
          </div>
        {{/if}}
      {{/each}}
    </div>
  {{/if}}

  {{!-- Global Rule Set Override --}}
  <fieldset class="settings-fieldset rule-set-fieldset">
    <legend>{{localize 'SPELLBOOK.Settings.GlobalRules'}}</legend>

    <div class="setting-row">
      <label for="rule-set-override">{{localize 'SPELLBOOK.Settings.RuleSetOverride.Label'}}</label>
      <i class="fas fa-question-circle setting-tooltip"
        data-tooltip="{{localize 'SPELLBOOK.Settings.RuleSetOverride.Hint'}}"></i>
      {{{globalSettings.ruleSetSelectHtml}}}
    </div>

    <div class="setting-row">
      <label for="enforcement-behavior">{{localize 'SPELLBOOK.Settings.EnforcementBehavior.Label'}}</label>
      <i class="fas fa-question-circle setting-tooltip"
        data-tooltip="{{localize 'SPELLBOOK.Settings.EnforcementBehavior.Hint'}}"></i>
      {{{globalSettings.enforcementSelectHtml}}}
    </div>
  </fieldset>

  {{!-- Per-Class Settings --}}
  {{#if spellcastingClasses.length}}
    <fieldset class="settings-fieldset class-rules-fieldset">
      <legend>{{localize 'SPELLBOOK.Settings.ClassRules.Title'}}</legend>
      <p class="fieldset-description">{{localize 'SPELLBOOK.Settings.ClassRules.Description'}}</p>

      <div class="class-rules-content">
        {{#each spellcastingClasses as |classData|}}
          <div class="class-settings-section {{#if classData.rules._noScaleValue}}has-issues{{/if}}"
            data-class="{{classData.identifier}}">
            <div class="class-header">
              {{#if classData.img}}
                <img src="{{classData.img}}" alt="{{classData.name}}" class="class-icon">
              {{/if}}
              <h4>{{classData.name}}</h4>
              <div class="class-stats">
                {{#if classData.rules.showCantrips}}
                  <span
                    class="cantrip-count">{{localize 'SPELLBOOK.Settings.CantripsKnown' current=classData.stats.currentCantrips max=classData.stats.maxCantrips}}</span>
                {{/if}}
                <span class="preparation-bonus {{#if (ne classData.rules.spellPreparationBonus 0)}}has-bonus{{/if}}">
                  {{#if (gt classData.rules.spellPreparationBonus 0)}}+{{classData.rules.spellPreparationBonus}}{{else if (lt classData.rules.spellPreparationBonus 0)}}{{classData.rules.spellPreparationBonus}}{{else}}±0{{/if}}
                  {{localize 'SPELLBOOK.Settings.SpellPreparationBonus.Text'}}
                </span>
                <span class="preparation-bonus {{#if (ne classData.rules.cantripPreparationBonus 0)}}has-bonus{{/if}}">
                  {{#if (gt classData.rules.cantripPreparationBonus 0)}}+{{classData.rules.cantripPreparationBonus}}{{else if (lt classData.rules.cantripPreparationBonus 0)}}{{classData.rules.cantripPreparationBonus}}{{else}}±0{{/if}}
                  {{localize 'SPELLBOOK.Settings.CantripPreparationBonus.Text'}}
                </span>
              </div>
            </div>

            <div class="class-settings-list">
              {{!-- Show Cantrips Setting --}}
              <div class="setting-row {{#if classData.rules._noScaleValue}}disabled{{/if}}">
                <label
                  for="show-cantrips-{{classData.identifier}}">{{localize 'SPELLBOOK.Settings.ShowCantrips.Label'}}</label>
                <i class="fas fa-question-circle setting-tooltip"
                  data-tooltip="{{localize 'SPELLBOOK.Settings.ShowCantrips.Hint'}}"></i>
                {{{classData.formElements.showCantripsCheckboxHtml}}}
                {{#if classData.rules._noScaleValue}}
                  <small class="setting-note warning">{{localize 'SPELLBOOK.Settings.DisabledNoScaleValue'}}</small>
                {{/if}}
              </div>

              {{!-- Force Wizard Mode Setting --}}
              <div class="setting-row">
                <label
                  for="force-wizard-mode-{{classData.identifier}}">{{localize 'SPELLBOOK.Settings.ForceWizardMode.Label'}}</label>
                <i class="fas fa-question-circle setting-tooltip"
                  data-tooltip="{{localize 'SPELLBOOK.Settings.ForceWizardMode.Hint'}}"></i>
                {{{classData.formElements.forceWizardModeCheckboxHtml}}}
              </div>

              {{!-- Cantrip Swapping Setting --}}
              <div class="setting-row {{#unless classData.rules.showCantrips}}disabled{{/unless}}">
                <label
                  for="cantrip-swapping-{{classData.identifier}}">{{localize 'SPELLBOOK.Settings.CantripSwapping.Label'}}</label>
                <i class="fas fa-question-circle setting-tooltip"
                  data-tooltip="{{localize 'SPELLBOOK.Settings.CantripSwapping.Hint'}}"></i>
                {{{classData.formElements.cantripSwappingSelectHtml}}}
              </div>

              {{!-- Spell Swapping Setting --}}
              <div class="setting-row">
                <label
                  for="spell-swapping-{{classData.identifier}}">{{localize 'SPELLBOOK.Settings.SpellSwapping.Label'}}</label>
                <i class="fas fa-question-circle setting-tooltip"
                  data-tooltip="{{localize 'SPELLBOOK.Settings.SpellSwapping.Hint'}}"></i>
                {{{classData.formElements.spellSwappingSelectHtml}}}
              </div>

              {{!-- Ritual Casting Setting --}}
              <div class="setting-row">
                <label
                  for="ritual-casting-{{classData.identifier}}">{{localize 'SPELLBOOK.Settings.RitualCasting.Label'}}</label>
                <i class="fas fa-question-circle setting-tooltip"
                  data-tooltip="{{localize 'SPELLBOOK.Settings.RitualCasting.Hint'}}"></i>
                {{{classData.formElements.ritualCastingSelectHtml}}}
              </div>

              {{!-- Custom Spell List Setting --}}
              <div class="setting-row">
                <label
                  for="custom-spell-list-{{classData.identifier}}">{{localize 'SPELLBOOK.Settings.CustomSpellList.Label'}}</label>
                <i class="fas fa-question-circle setting-tooltip"
                  data-tooltip="{{localize 'SPELLBOOK.Settings.CustomSpellList.Hint'}}"></i>
                {{{classData.formElements.customSpellListSelectHtml}}}
              </div>

              {{!-- Spell Preparation Bonus Setting --}}
              <div class="setting-row">
                <label
                  for="spell-preparation-bonus-{{classData.identifier}}">{{localize 'SPELLBOOK.Settings.SpellPreparationBonus.Label'}}</label>
                <i class="fas fa-question-circle setting-tooltip"
                  data-tooltip="{{localize 'SPELLBOOK.Settings.SpellPreparationBonus.Hint'}}"></i>
                {{{classData.formElements.spellPreparationBonusControlsHtml}}}
              </div>

              {{!-- Cantrip Preparation Bonus Setting --}}
              <div class="setting-row {{#unless classData.rules.showCantrips}}disabled{{/unless}}">
                <label
                  for="cantrip-preparation-bonus-{{classData.identifier}}">{{localize 'SPELLBOOK.Settings.CantripPreparationBonus.Label'}}</label>
                <i class="fas fa-question-circle setting-tooltip"
                  data-tooltip="{{localize 'SPELLBOOK.Settings.CantripPreparationBonus.Hint'}}"></i>
                {{{classData.formElements.cantripPreparationBonusControlsHtml}}}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </fieldset>
  {{/if}}

  {{!-- Submit Button --}}
  <div class="submit-section">
    {{{submitButton.submitButtonHtml}}}
  </div>
</div>
