<form class="wizard-copy-form">
	<p>{{localize "SPELLBOOK.Wizard.CopyPrompt" name=spell.name}}</p>
	<div class="copy-details">
		<div class="form-group">
			<label>{{localize "SPELLBOOK.Wizard.CostLabel"}}:</label>
			<span>{{cost}} {{localize "SPELLBOOK.Currency.GoldPieces"}}</span>
		</div>
		<div class="form-group">
			<label>{{localize "SPELLBOOK.Wizard.TimeLabel"}}:</label>
			<span>{{time}} {{localize "SPELLBOOK.Units.Hours"}}</span>
		</div>
	</div>
</form>
