<div class="spell-manager-sidebar">
	<div class="spell-lists">
		<h3>{{localize "spell-book.ui.spellLists"}}</h3>
		<div class="list-controls">
			<button type="button" class="create-list" data-action="createNewList">
				<i class="fas fa-plus"></i> {{localize "spell-book.ui.createNewList"}}
			</button>
		</div>
		{{#if spellLists.length}}
			<ul class="spell-list-list">
				{{#each spellLists as |list|}}
					<li class="spell-list-item {{#if (eq list.id ../activeList.id)}}active{{/if}}" data-list-id="{{list.id}}">
						<span class="list-name">{{list.name}}</span>
						<span class="list-count">{{list.spells.length}} {{localize "spell-book.ui.spells"}}</span>
					</li>
				{{/each}}
			</ul>
		{{else}}
			<p class="no-lists">{{localize "spell-book.ui.noSpellLists"}}</p>
		{{/if}}
	</div>

	<div class="filter-options">
		<h3>{{localize "spell-book.ui.filterOptions"}}</h3>

		<div class="filter-group">
			<label>{{localize "spell-book.ui.filterByLevel"}}</label>
			<select data-filter="level" data-action="filterSpells">
				<option value="all">{{localize "spell-book.ui.allLevels"}}</option>
				{{#each spellLevels as |level|}}
					<option value="{{level.level}}" {{#if (eq ../filterOptions.level level.level)}}selected{{/if}}>{{level.label}}
					</option>
				{{/each}}
			</select>
		</div>

		<div class="filter-group">
			<label>{{localize "spell-book.ui.filterBySchool"}}</label>
			<select data-filter="school" data-action="filterSpells">
				<option value="all">{{localize "spell-book.ui.allSchools"}}</option>
				{{#each spellSchools as |school|}}
					<option value="{{school.id}}" {{#if (eq ../filterOptions.school school.id)}}selected{{/if}}>{{school.label}}
					</option>
				{{/each}}
			</select>
		</div>

		<div class="filter-group">
			<label>{{localize "spell-book.ui.filterByClass"}}</label>
			<select data-filter="class" data-action="filterSpells">
				<option value="all">{{localize "spell-book.ui.allClasses"}}</option>
				{{#each spellClasses as |class|}}
					<option value="{{class.id}}" {{#if (eq ../filterOptions.class class.id)}}selected{{/if}}>{{class.label}}
					</option>
				{{/each}}
			</select>
		</div>

		<div class="filter-group">
			<label>{{localize "spell-book.ui.search"}}</label>
			<input type="text" class="spell-search" placeholder="{{localize 'spell-book.ui.search'}}"
				value="{{filterOptions.name}}">
		</div>
	</div>
</div>
