<div class="filter-config-form">
	<p>{{localize "SPELLBOOK.Settings.FilterInstructions"}}</p>
	<ul class="filter-config-list">
		{{#each filterConfig as |filter index|}}
			<li data-filter-id="{{filter.id}}" data-index="{{index}}"
				class="filter-item {{#unless filter.sortable}}not-sortable{{/unless}}">
				<div class="filter-config-item">
					<div class="drag-handle">
						{{#if filter.sortable}}<i class="fas fa-grip-lines"></i>{{else}}<i class="fas fa-lock"></i>{{/if}}
					</div>
					<input type="checkbox" name="enabled-{{filter.id}}" {{#if filter.enabled}}checked{{/if}}>
					<span class="filter-name">{{localize filter.label}}</span>
					{{#unless filter.sortable}}
						<span class="fixed-position-note">{{localize "SPELLBOOK.Settings.FixedPosition"}}</span>
					{{/unless}}
				</div>
				<input type="hidden" name="order-{{filter.id}}" value="{{filter.order}}">
				<input type="hidden" name="sortable-{{filter.id}}" value="{{filter.sortable}}">
			</li>
		{{/each}}
	</ul>

	<footer class="filter-config-footer">
		<div class="footer-buttons">
			{{#each buttons as |button|}}
				<button type="{{button.type}}" {{#if button.name}}name="{{button.name}}" {{/if}} class="{{button.cssClass}}"
					{{#if button.action}}data-action="{{button.action}}" {{/if}} {{#if button.disabled}}disabled{{/if}}>
					{{#if button.icon}}<i class="{{button.icon}}"></i>{{/if}}
					{{localize button.label}}
				</button>
			{{/each}}
		</div>
	</footer>
</div>
