<div class="spell-book">
	<header class="spell-book-header">
		<h2>{{actor.name}}'s Spell Book</h2>
		<div class="spell-book-controls">
			<input type="text" name="search" placeholder="{{localize 'spell-book.ui.search'}}" class="spell-search">
		</div>
	</header>

	<div class="spell-book-content">
		<div class="spell-book-stats">
			<div class="prepared-count">
				<span>{{localize 'spell-book.ui.maxPrepared' count=maxPrepared}}</span>
				<span>{{currentPrepared}} / {{maxPrepared}}</span>
			</div>
		</div>

		<div class="spells-container">
			<div class="prepared-spells">
				<h3>{{localize 'spell-book.ui.preparedSpells'}}</h3>
				{{#if preparedSpells.length}}
					<ul class="spell-list">
						{{#each preparedSpells}}
							<li class="spell-item" data-spell-id="{{this.id}}">
								<div class="spell-name">{{this.name}}</div>
								<div class="spell-level">
									{{#if this.system.level}}{{localize 'spell-book.ui.spellLevel' level=this.system.level}}{{else}}{{localize 'spell-book.ui.cantrips'}}{{/if}}
								</div>
								<div class="spell-actions">
									<button class="unprepare-spell" data-action="unprepare"><i class="fas fa-minus-circle"></i></button>
								</div>
							</li>
						{{/each}}
					</ul>
				{{else}}
					<p class="no-spells">{{localize 'spell-book.ui.noSpells'}}</p>
				{{/if}}
			</div>

			<div class="available-spells">
				<h3>{{localize 'spell-book.ui.availableSpells'}}</h3>
				{{#if availableSpells.length}}
					<ul class="spell-list">
						{{#each availableSpells}}
							<li class="spell-item" data-spell-id="{{this.id}}">
								<div class="spell-name">{{this.name}}</div>
								<div class="spell-level">
									{{#if this.system.level}}{{localize 'spell-book.ui.spellLevel' level=this.system.level}}{{else}}{{localize 'spell-book.ui.cantrips'}}{{/if}}
								</div>
								<div class="spell-actions">
									<button class="prepare-spell" data-action="prepare"><i class="fas fa-plus-circle"></i></button>
								</div>
							</li>
						{{/each}}
					</ul>
				{{else}}
					<p class="no-spells">{{localize 'spell-book.ui.noSpells'}}</p>
				{{/if}}
			</div>
		</div>
	</div>

	<footer class="spell-book-footer">
		<button type="button" class="dialog-button save-changes">
			<i class="fas fa-save"></i> {{localize 'spell-book.ui.save'}}
		</button>
		<button type="button" class="dialog-button cancel">
			<i class="fas fa-times"></i> {{localize 'spell-book.ui.cancel'}}
		</button>
	</footer>
</div>
