<div class="spell-filters">
	{{#each filters as |filter|}}
		{{#if (eq filter.type "search")}}
			<div class="filter-item filter-search" data-filter-id="{{filter.id}}">
				<input type="text" name="filter-name" placeholder="{{localize filter.label}}" value="{{../searchText}}">
			</div>
		{{/if}}

		{{#if (eq filter.type "dropdown")}}
			<div class="filter-item {{#if filter.active}}active{{/if}}" data-filter-id="{{filter.id}}">
				<label>{{localize filter.label}}</label>
				<select name="filter-{{filter.id}}">
					<option value="">{{localize (concat "SPELLBOOK.Filters.All" filter.label)}}</option>
					{{#each filter.options as |option|}}
						<option value="{{option.value}}" {{#if option.selected}}selected{{/if}}>{{option.label}}</option>
					{{/each}}
				</select>
			</div>
		{{/if}}

		{{#if (eq filter.type "range")}}
			<div class="filter-item range-filter {{#if filter.active}}active{{/if}}" data-filter-id="{{filter.id}}">
				<label>{{localize filter.label}}</label>
				<div class="range-inputs">
					<input type="number" name="filter-range-min" min="0" max="1000"
						placeholder="{{localize 'SPELLBOOK.Filters.RangeMin'}}" value="{{../rangeMin}}">
					<div class="range-separator"><i class="fas fa-arrow-right"></i></div>
					<input type="number" name="filter-range-max" min="0" max="1000"
						placeholder="{{localize 'SPELLBOOK.Filters.RangeMax'}}" value="{{../rangeMax}}">
				</div>
			</div>
		{{/if}}

		{{#if (eq filter.type "checkbox")}}
			<div class="filter-toggles" data-filter-id="{{filter.id}}">
				<label class="{{#if filter.value}}active{{/if}}">
					<input type="checkbox" name="filter-{{filter.id}}" {{#if filter.value}}checked{{/if}}>
					{{localize filter.label}}
				</label>
			</div>
		{{/if}}
	{{/each}}
</div>
