<div class="spell-filters">
	{{#each filters as |filter|}}
		{{#if (eq filter.type "search")}}
			<div class="filter-item filter-search" data-filter-id="{{filter.id}}">
				<input type="text" name="{{filter.name}}" placeholder="{{filter.label}}" value="{{filter.value}}">
			</div>
		{{/if}}

		{{#if (eq filter.type "dropdown")}}
			<div class="filter-item" data-filter-id="{{filter.id}}">
				<label>{{filter.label}}</label>
				<select name="{{filter.name}}">
					{{#each filter.options as |option|}}
						<option value="{{option.value}}" {{#if option.selected}}selected{{/if}}>{{option.label}}</option>
					{{/each}}
				</select>
			</div>
		{{/if}}

		{{#if (eq filter.type "range")}}
			<div class="filter-item range-filter" data-filter-id="{{filter.id}}">
				<label>{{filter.label}}</label>
				<div class="range-inputs">
					<input type="number" name="{{filter.minName}}" min="0" max="1000"
						placeholder="{{localize 'SPELLBOOK.Filters.RangeMin'}}" value="{{filter.minValue}}">
					<div class="range-separator"><dnd5e-icon src="systems/dnd5e/icons/svg/range-connector.svg"></dnd5e-icon></div>
					<input type="number" name="{{filter.maxName}}" min="0" max="1000"
						placeholder="{{localize 'SPELLBOOK.Filters.RangeMax'}}" value="{{filter.maxValue}}">
				</div>
			</div>
		{{/if}}

		{{#if (eq filter.type "checkbox")}}
			<div class="filter-toggles" data-filter-id="{{filter.id}}">
				<label>
					<input type="checkbox" name="{{filter.name}}" {{#if filter.checked}}checked{{/if}}>
					{{filter.label}}
				</label>
			</div>
		{{/if}}
	{{/each}}
</div>
