<div class="spell-book-content">
	<div class="prepared-spells">
		<h3>{{localize "spell-book.ui.preparedSpells"}}</h3>
		{{#each preparedByLevel as |levelData lvl|}}
			{{#if levelData.hasSpells}}
				<h4 class="spell-level-header">{{levelData.label}}</h4>
				<ul class="spell-list level-{{lvl}}">
					{{#each levelData.spells as |spell|}}
						<li class="spell-item" data-spell-id="{{spell.id}}">
							<div class="spell-name">{{{spell.nameDisplay}}}</div>
							<div class="spell-school">{{lookup ../../config.spellSchools spell.system.school}}</div>
							<div class="spell-actions">
								<button class="unprepare-spell" data-action="unprepareSpell">
									<i class="fas fa-minus-circle"></i>
								</button>
							</div>
						</li>
					{{/each}}
				</ul>
			{{/if}}
		{{/each}}
	</div>

	<div class="available-spells">
		<h3>{{localize "spell-book.ui.availableSpells"}}</h3>
		{{#each availableByLevel as |levelData lvl|}}
			{{#if levelData.hasSpells}}
				<h4 class="spell-level-header">{{levelData.label}}</h4>
				<ul class="spell-list level-{{lvl}}">
					{{#each levelData.spells as |spell|}}
						<li class="spell-item" data-spell-id="{{spell.id}}"
							data-from-list="{{#if spell.fromSpellList}}true{{else}}false{{/if}}">
							<div class="spell-name">{{{spell.nameDisplay}}}</div>
							<div class="spell-school">{{spellInfo spell}}</div>
							<div class="spell-actions">
								<button class="prepare-spell" data-action="prepareSpell"
									{{#unless ../../canPrepareMore}}disabled{{/unless}}>
									<i class="fas fa-plus-circle"></i>
								</button>
							</div>
						</li>
					{{/each}}
				</ul>
			{{/if}}
		{{/each}}
	</div>
</div>
