<div class="spell-filters">
	<!-- Search always stays on top -->
	<div class="filter-group">
		<input type="text" name="filter-name" placeholder="{{localize 'SPELLBOOK.Filters.SearchPlaceholder'}}"
			value="{{filters.name}}" data-filter="name">
	</div>

	<!-- Dropdowns -->
	<div class="filter-group">
		{{#each filterDropdowns as |dropdown|}}
			<div class="filter-item">
				{{#if dropdown.label}}<label>{{dropdown.label}}</label>{{/if}}
				<select name="{{dropdown.name}}" data-action="filterSpells" data-filter="{{dropdown.filter}}">
					{{#each dropdown.options as |option|}}
						<option value="{{option.value}}" {{#if option.selected}}selected{{/if}}>
							{{option.label}}
						</option>
					{{/each}}
				</select>
			</div>
		{{/each}}
	</div>
	<!-- Range filter inputs -->
	<div class="filter-item range-filter">
		<label>{{localize 'SPELLBOOK.Filters.Range'}} ({{rangeFilter.unit}})</label>
		<div class="range-inputs">
			<input type="number" name="filter-min-range" placeholder="{{localize 'SPELLBOOK.Filters.RangeMin'}}"
				value="{{filters.minRange}}" data-action="filterSpells" min="0">
			<span class="range-separator">-</span>
			<input type="number" name="filter-max-range" placeholder="{{localize 'SPELLBOOK.Filters.RangeMax'}}"value="{{filters.maxRange}}"
				data-action="filterSpells" min="0">
		</div>
	</div>

	<!-- Checkboxes -->
	<div class="filter-toggles">
		{{#each filterCheckboxes as |checkbox|}}
			<label>
				<input type="checkbox" name="{{checkbox.name}}" data-action="filterSpells" data-filter="{{checkbox.filter}}"
					{{#if checkbox.checked}}checked{{/if}}>
				{{checkbox.label}}
			</label>
		{{/each}}
	</div>
</div>
