<form class="spell-list-manager" autocomplete="off">
	{{#if hasCompendium}}
		<div class="form-group">
			<label>{{localize "SPELLBOOK.SelectEntry"}}</label>
			<select class="entry-select">
				{{#each entries}}
					<option value="{{this.id}}" {{#if (eq ../selectedEntry this.id)}}selected{{/if}}>{{this.name}}</option>
				{{/each}}
			</select>
		</div>

		<div class="form-group">
			<label>{{localize "SPELLBOOK.SelectList"}}</label>
			<div class="flexrow">
				<select class="page-select">
					{{#each pages}}
						<option value="{{this.id}}" {{#if (eq ../selectedPage this.id)}}selected{{/if}}>{{this.name}}</option>
					{{/each}}
				</select>
				<button type="button" class="new-list-btn">
					<i class="fas fa-plus"></i> {{localize "SPELLBOOK.NewList"}}
				</button>
			</div>
		</div>

		<div class="spell-list-content">
			{{#if isEditing}}
				<div class="spell-editor">
					<div class="spell-editor-header">
						<h3>{{localize "SPELLBOOK.EditList"}}</h3>
						<div class="flexrow">
							<button type="button" class="cancel-btn">
								{{localize "Cancel"}}
							</button>
							<button type="button" class="save-btn">
								{{localize "Save"}}
							</button>
						</div>
					</div>

					<div class="spell-grid">
						{{#each spells}}
							<div class="spell-item {{#if this.selected}}selected{{/if}}" data-uuid="{{this.uuid}}">
								<div class="spell-toggle" data-uuid="{{this.uuid}}">
									<i class="fas {{#if this.selected}}fa-check-circle{{else}}fa-circle{{/if}}"></i>
								</div>
								<img class="spell-img" src="{{this.img}}" alt="{{this.name}}">
								<div class="spell-info">
									<div class="spell-name">{{this.name}}</div>
									<div class="spell-details">
										{{#if this.level}}Level {{this.level}}{{/if}}
										{{#if this.school}}{{this.school}}{{/if}}
									</div>
								</div>
							</div>
						{{/each}}
					</div>
				</div>
			{{else}}
				<div class="spell-viewer">
					<div class="spell-viewer-header">
						<h3>{{localize "SPELLBOOK.ViewList"}}</h3>
						<button type="button" class="edit-list-btn">
							<i class="fas fa-edit"></i> {{localize "SPELLBOOK.Edit"}}
						</button>
					</div>

					<div class="spell-list">
						{{#if spells.length}}
							{{#each spells}}
								<div class="spell-item" data-uuid="{{this.uuid}}">
									<img class="spell-img" src="{{this.img}}" alt="{{this.name}}">
									<div class="spell-info">
										<div class="spell-name">{{this.name}}</div>
										<div class="spell-details">
											{{#if this.level}}Level {{this.level}}{{/if}}
											{{#if this.school}}{{this.school}}{{/if}}
										</div>
									</div>
								</div>
							{{/each}}
						{{else}}
							<div class="no-spells">
								{{localize "SPELLBOOK.NoSpells"}}
							</div>
						{{/if}}
					</div>
				</div>
			{{/if}}
		</div>
	{{else}}
		<div class="no-compendium">
			<p>{{localize "SPELLBOOK.NoCompendium"}}</p>
		</div>
	{{/if}}
</form>
