<div class="spells-container">
	{{#if spellLevels.length}}
		{{#each spellLevels as |levelData|}}
			<div class="spell-level">
				<h3 class="spell-level-heading">{{levelData.levelName}}</h3>
				<ul class="spell-list">
					{{#each levelData.spells as |spell|}}
						<li
							class="spell-item{{#if spell.preparation.isOwned}} owned-spell{{/if}}{{#if spell.preparation.prepared}} prepared-spell{{/if}}"
							data-spell-uuid="{{spell.compendiumUuid}}" data-spell-level="{{../level}}"
							data-spell-school="{{spell.system.school}}" data-casting-time-type="{{spell.filterData.castingTime.type}}"
							data-casting-time-value="{{spell.filterData.castingTime.value}}"
							data-range-units="{{spell.filterData.range.units}}" data-damage-types="{{spell.filterData.damageTypes}}"
							data-ritual="{{spell.filterData.isRitual}}" data-concentration="{{spell.filterData.concentration}}"
							data-requires-save="{{spell.filterData.requiresSave}}" data-conditions="{{spell.filterData.conditions}}">
							<div class="spell-name">
								{{{spell.enrichedIcon}}}
								<div class="name-stacked">
									<span class="title">{{spell.name}}
										{{#if spell.preparation.alwaysPrepared}}
											<span class="always-prepared-tag"
												data-tooltip="{{#if spell.preparation.sourceItem.name}}{{spell.preparation.sourceItem.name}}{{else}}Always Prepared{{/if}}">
												{{localize 'SPELLBOOK.Preparation.Always'}}
											</span>
										{{else if spell.preparation.preparationMode}}
											<span class="preparation-mode-tag"
												data-tooltip="{{#if spell.preparation.sourceItem.name}}{{spell.preparation.sourceItem.name}}{{/if}}">
												{{spell.preparation.preparationMode}}
											</span>
										{{/if}}
									</span>
									<span class="subtitle">{{{spell.formattedDetails}}}</span>
								</div>
							</div>

							<div class="spell-preparation">
								<input type="checkbox" name="spellPreparation.{{spell.compendiumUuid}}" value="1"
									data-uuid="{{spell.compendiumUuid}}" data-name="{{spell.name}}"
									data-ritual="{{spell.filterData.isRitual}}" data-was-prepared="{{spell.preparation.prepared}}"
									{{#if spell.preparation.prepared}}checked{{/if}} {{#if spell.preparation.disabled}}disabled{{/if}} />
							</div>
						</li>
					{{/each}}
				</ul>
			</div>
		{{/each}}
	{{else}}
		<p class="no-spells">{{localize 'SPELLBOOK.Errors.NoSpellsFound' actor=actor.name}}</p>
	{{/if}}

	<!-- No results message (initially hidden) -->
	<div class="no-filter-results" style="display: none;">
		{{localize 'SPELLBOOK.Filters.NoResults'}}
	</div>
</div>
