<div class="loading-spinner" role="status" aria-label="{{localize 'SPELLBOOK.UI.Loading'}}">
	<i class="fas fa-spinner fa-spin fa-{{#if size}}{{size}}{{else}}3{{/if}}x" aria-hidden="true"></i>
	<p>{{#if message}}{{message}}{{else}}{{localize 'SPELLBOOK.UI.Loading'}}{{/if}}</p>
</div>
