<p><strong>{{localize 'SPELLBOOK.Migrations.UserDataMigration'}}</strong>
  {{localize 'SPELLBOOK.Migrations.UserDataUpdated' count=userDataResults.processed}}
</p>
{{#if userDataResults.users.length}}
  <ul>
    {{#each userDataResults.visibleUsers}}
      <li>{{this.name}}
        {{#if this.cleaned}}({{localize 'SPELLBOOK.Migrations.EntriesCleaned' count=this.cleaned}}){{/if}}
        {{#if this.errors.length}}({{localize 'SPELLBOOK.Migrations.ErrorsFound' count=this.errors.length}}){{/if}}
      </li>
    {{/each}}
    {{#if userDataResults.hasMoreUsers}}
      <li>{{localize 'SPELLBOOK.Migrations.AndMoreUsers' count=userDataResults.remainingUserCount}}</li>
    {{/if}}
  </ul>
{{/if}}
