<li class="{{cssClasses}}" {{{dataAttributes}}} role="listitem">
	<div class="spell-name">
		{{{enrichedIcon}}}
		<div class="name-stacked">
			<span class="title">{{name}}
				{{#if tag}}
					<span class="tag {{tag.cssClass}}" {{#if tag.tooltip}}data-tooltip="{{tag.tooltip}}" {{/if}}>
						{{tag.text}}
					</span>
				{{/if}}
			</span>
			<span class="subtitle">{{formattedDetails}}</span>
		</div>
	</div>
	{{> @partial-block}}
</li>
